<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}">
<head>
<title>Home Page</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
	crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
	integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
	crossorigin=""></script>



<link rel="stylesheet"
	href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css">
<link rel="stylesheet"
	href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css">

<script src="https://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

<script src="https://leaflet.github.io/Leaflet.markercluster/example/realworld.388.js"></script>


<style>
html, body {
	width: 100%;
	height: 100%;
}

#mapid {
	width: 100%;
	height: 100%;
}

.leaflet-popup-content{
	margin: 5px 5px;
}
</style>

<script type="text/javascript">
$(function() {
	// https://github.com/Leaflet/Leaflet.markercluster#examples
	// https://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.388.html
	
	var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
		}),
		
	latlng = L.latLng(35.6536122, 139.794882);

	var map = L.map('mapid', {center: latlng, zoom: 13, layers: [tiles]});

	var markers = L.markerClusterGroup();
	
	
	$.ajax({
		method: "GET",
		url: "/map/marker",
		data: { }
	})
	.done(function(data) {
		console.log("marker count :" + data.length);

		data.forEach(function(d){
			// console.log(d);
			var marker = L.marker(new L.LatLng(d.latitude, d.longitude), { id: d.id });
			// console.log(marker.options.id);

			
			// marker click event 
			marker.on("click", function(e) {
			    $.get( "/map/detail/" + marker.options.id , function( data ) {
					var customPopup = data;

				    // specify popup options 
				    var customOptions = {
				        'maxWidth': '600',
				        'className' : 'custom',
				        'closeButton': false
			        };

					marker.bindPopup(customPopup,customOptions).openPopup();

		    	});
			});
			
			//
			marker.on("popupopen", function(e) {
				console.log("popupopen " + new Date());
			})

			// 
			marker.on("popupclose", function(e) {
				console.log("popupclose " + new Date());
				this.unbindPopup();
			})
			
			markers.addLayer(marker);
		});
		
		map.addLayer(markers);
		
	}).fail(function(data) {
		alert("error");
	})
	

})
</script>

</head>
<body>

	<div
		class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light h-100 w-100"
		layout:fragment="content">

		<div id="mapid"></div>
		
		
		<div id= "card" class="card" style="width: 18rem; display:none">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		</div>


	</div>

</body>
</html>
